<footer class="bg-gray-600 pb-10">
  <p class="block text-center text-sm mb-6">
    Built by
    <a target="_blank" href="https://github.com/zachparent">
      Zach Parent
    </a>
  </p>

  <a class="block text-center text-sm" href="{{ site.baseUrl }}privacy-policy">Privacy Policy</a>
</footer>