<footer class="">
  <p class="block text-center text-sm">
    Built by
    <a target="_blank" href="https://github.com/zachparent">
      Zach Parent
    </a>|
    Source available on <a target="_blank" href="https://github.com/zachparent/zachparent-site">GitHub</a>.
  </p>
</footer>