<header>
  <nav class="container pt-2 flex flex-wrap justify-between">
    <div>
      <h1>
        <a class="text-hunyadi_yellow hover:text-hunyadi_yellow-700 hover:font-black"
        href="{{ site.baseUrl }}">{{ site.name }}</a>
      </h1>
      <p>{{site.description}}</p>
    </div>

    <ul class="flex flex-wrap sm:w-32 w-full sm:mt-6 sm:justify-between justify-evenly">
      <li>
        <a class="text-orange_(pantone) hover:text-orange_(pantone)-700 hover:font-black"
        href="{{ site.baseUrl }}about">About</a>
      </li>
    </ul>
  </nav>
</header>