<div>
    {% for post in posts %}
        {% if not post.data.draft %}
            <div class="mb-8 border-dotted border-b border-gray-300">
                <h2>
                    <a class="block" href="{{ post.url | url }}">{{ post.data.title }}</a>
                </h2>

                <p class="excerpt">{{ post.data.excerpt }}</p>

                {# TODO: Add tags #}
                {# {% for tag in post.data.tags %}
                    {%- if tag !== "post" -%}
                        <a class="tag {{ tag | replace('.', '') }}" href="{{ site.baseUrl }}tag/{{ tag }}">{{ tag }}</a>
                    {%- endif -%}
                {% endfor %} #}

                <div class="sm:pt-4 sm:ml-auto pt-2 created-date" datetime="{{ post.data.date }}">
                    {{ post.data.date | dateDisplay }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>