<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
    <a class="tag code mx-auto" href="{{ site.baseUrl }}tag/code">code</a>
    <a class="tag ai mx-auto" href="{{ site.baseUrl }}tag/ai">ai</a>
    <a class="tag writing mx-auto" href="{{ site.baseUrl }}tag/writing">writing</a>
</div>
